.best-score__wrapper {
    display: none;
    width: 500px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 20px;
    z-index: 150;
    cursor: default;

}

.best-score__wrapper.show {
    display: block;
}

h1 {
    font-weight: 900;
    letter-spacing: -3px;
    margin: 0;
}
.game-data__title{
    display: flex;
    flex-direction: row;
justify-content: center;
}