* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";

   
    background-image: url('brain1.png');
    background-position: 100% 50%;
    background-size: 25%;
    background-repeat: no-repeat;

}

.root{
}