* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto";


}

// .root {


//     width: 100vh;
//     margin: 0;
//     padding: 0;
// }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    position: relative;
    background-image: url('brain1.png');
    background-position: 100% 50%;
    background-size: 25%;
    background-repeat: no-repeat;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {
    .header {
        .container {

            padding: 0;
        }
    }

    .card-board {
        max-width: 1000px;
        width: 100%;
    }

    .footer {
        .container {
            padding: 0;
        }
    }

}
@media screen and (max-width: 1024px) {
    .game-title{
        img{
            width: 300px;
            padding: 10px;
        }
    }
    .start__button{
        width: 50px;
        height: 50px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .settings__button{
        img{
            width: 50px;
            height: 50px;
        }
    }
    .logo{
        img{
            width: 100px;
        }
    }
    .moves{
        font-size: 18px;
        margin-top: 0;
    }
    .score{
        align-items: center;
    }
    .score-title{
        font-size: 24px;
    }
    .score-number{
        font-size: 24px;
       padding: 0;
       margin: 0;
       text-align: end;
        border: none;
        height: 28px;
        margin-left: 5px;
    }
    .best-score{
        display: none;
    }

    .git-name{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .year{
        font-size: 12px;
    }
}
